main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploads button {
  background-color: #1a7bbf;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 10px;
}

.uploads button:hover {
  background-color: #24a0ed;
  transition: background-color 0.3s ease;
}